$mw991: 991px;
.list {
    max-width: 900px;
    margin: auto;
    background-color: white;
    box-shadow: 10px 5px 5px #0000004a;
    margin-top: 15px;
    margin-bottom: 15px;
    &__unit {
        width: 100%;
        margin: auto 50%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        box-sizing: content-box;
        flex-wrap: wrap;
        border: solid 1px black;
        word-wrap: break-word;
        @media (max-width: $mw991) {
            max-width: 90vw;
            width: 90vw;
        }
    }
    &__unit-description {
        flex: 1 1 80%;
        padding: 15px;
        color: black;
        font-weight: bold;
        width: 500px;
        word-wrap: break-word;
    }
    &__checkbox_wrapper {
        flex: 0 0 20%;
        color: rgb(51, 51, 51);
        div {
            display: flex;
            width: 135px;
            align-items: center;
            span {
                flex: 1 1 70%;
                text-align: left;
            }
            input {
                flex: 0 0 30%;
            }
        }
        @media (max-width: 768px) {
            padding: 10px;
        }
    }
    label {
        display: flex;
    }
    @media (max-width: $mw991) {
        width: 90vw;
    }
}
